* {
    margin: 0px;
}

header {
    color: white;
    background-color: black;

    a {
        color: white;
        border-bottom: 1px solid #888784;
        text-decoration: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 40px;
        list-style-type: none;
        margin: 30px;
    }
}

#hero .container {
    font-size: 26px;
    font-family: "Epilogue", sans-serif;
}

.bloc {
    display: flex;
    flex-direction: column;
    margin: 70px;
    gap: 30px;

}

.btn {
    background-color: white;
    padding: 20px;
    width: 200px;
}

a.btn {
    width: 200px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

h1 {
    font-family: "Epilogue", sans-serif;
    font-style: normal;
    font-size: 60px;
}


.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.container {
    width: 900px;
    margin: auto;

    .middle {
        text-align: center;
    }

    .card {
        display: flex;
        gap: 200px;
        margin: 38px;

        h3.titre {
            text-align: center;
        }
        p{text-align: center;

        }
    }

    h2 {
        margin: 70px;
        font-size: 28px;
        font-family: "Epilogue", sans-serif;
    }

    h3 {
        font-size: 24px;
        font-family: "Epilogue", sans-serif;
    }

    p {
        font-size: 15px;
        font-family: "Epilogue", sans-serif;
    }

    .titre {
        padding: 20px;
    }
}

#bandeau .container {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#réalisation .container {
    .wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.cardRealisation {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective-origin: center;
    gap: 14px;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
}

section#bandeau {
    background-color: black;
}

.card .container {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: black;
    color: white;
    padding: 40px;
}


.carte {
    background-color: #F3F3F3;
    padding: 11px;
    text-align: center;
    align-content: center;
}

.emoji {
    color: white;
}

i {
    color: #F3F3F3;
    font-size: 20px;
}

i.carte {
    color: blue;
    font-size: 50px;
}

#fin .container {
    h2 {
        margin-top: 2px;
        font-size: 32px;
        font-family: "Epilogue", sans-serif;
    }

    p {
        font-size: 17px;
        font-family: "Epilogue", sans-serif;
    }
}

.envoyer {
    display: flex;
    flex-direction: column;
    align-items: end;

}

form {
    display: flex;
    flex-direction: row;
}

.emoji {
    margin: 20px;

}

.blanc {
    display: flex;
    justify-content: space-between;
    margin: -29px;
}

input {
    width: 300px;
    height: 40px;
    margin: 4px;
}

.bouton {
    width: 130px;
    height: 40px;
    margin: 4px;
}

#temoignage .container {
    p {
        text-align: center;
        font-size: 17px;
        font-family: "Epilogue", sans-serif;
        font-weight: bold;
    }
}